<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NyaruBox"
        tools:targetApi="31">
        <activity
            android:name=".SleepActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".SportActivity"
            android:exported="false"
            android:label="@string/title_activity_sport"
            android:theme="@style/Theme.NyaruBox.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".NewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".NoteActivity" />
        <activity android:name=".view.matisse.ui.MatisseActivity" />
        <activity android:name=".view.matisse.internal.ui.AlbumPreviewActivity" />
        <activity android:name=".view.matisse.internal.ui.SelectedPreviewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.nyarubox.view.matisse.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>